  <!--css-->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

<div class="container-fluid p-5">
<h3>Artist</h3>
		<div class="funkcii">
			<form action="#!details_artist">
         		<button class="btn-warning rounded">Add Artist</button>
     		</form>

     		<!-- <input type="text" class="searchArtist" placeholder="Search..."> -->
     	</div>


	<table class="table table-striped">
		<thead>
		<tr>
			<th>artist_id</th>
			<th><input id="myInput" type="text" class="searchArtist"placeholder="Search.." data-ng-model="searchbyname"></th>
			<th title="IZMENI">Izmeni</th>
			<th title="IZBRISI">Izbrisi</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="employee in artist | filter:{artist_name:searchbyname}"> <!--employee e varijabla-->
			<td>{{employee.artist_id}}</td>
			<td>{{employee.artist_name}}</td>
			<td title="IZMENI"><button class="btn-warning">Izmeni</button></td>
			<td title="IZBRISI"><button class="btn-warning">Izbrisi</button></td>
		</tr>
		</tbody>
	</table>

</div>